{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sheet Music Generator</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<h1>Sheet Music Generator</h1>
<p>Automatically generates sheet music for songs you want to learn</p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Generate Sheet Music</button>
</form>

<script src="{% static 'js/script.js' %}"></script>
</body>
</html>
